.Welcome {
    background: #FFC75F;
    justify-content: space-between;
}

.Content {
    width: 80%;
    margin: 0 auto;
    height: 30vh;
    background: #FFC75F;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 2rem;
    align-items: center;
    color: white;
}

.Image {
    height: 70%;
}