.Navbar {
    background: #FFC75F;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    align-items: center;

}

.NavbarTitle {
    padding-top: 6px;
}

.Header {
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 1px solid #E7B355;
    background: #FFC75F;
}

.NavProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
    font-weight: bold;
    justify-content: center;
    border: 2px solid #EFEFEF;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.NavProfile:hover {
    transform: scale(1.1);
}

.NavProfileButtons {
    display: flex;
}