.Box {
    margin: 2rem auto;
    border: 1px solid #EFEFEF;
    width: 100%;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.BoxMain {
    background-color: white;
}

.BoxFooter {
    width: 100%;
    margin: 0;
    background-color: #845EC2;
    height: 2rem;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}