.NoTranslations {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.NoTranslations h2, ul{
    width: 60%;
    margin: 0.7rem auto;
    justify-content: center;
}

.TranslateButtons {
    width: 30%;
    height: 3rem;
    margin: 0.7rem auto;
    justify-content: center;
    background: #845EC2;
    border: 2px solid #EFEFEF;
    color: white;
    border-radius: 25px;
}

.TranslateButtons:hover {
    font-weight: bold;
    transform: scale(1.04);
}

.Welcome {
    background: #FFC75F;
    justify-content: space-between;
}

.Content {
    width: 80%;
    margin: 0 auto;
    height: 30vh;
    background: #FFC75F;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 2rem;
    align-items: center;
    color: white;
}

.Image {
    height: 70%;
}